*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
}

#config{
    position:absolute;
    min-width: 240px;
    padding:1em;
    background: rgba(0, 0, 0, 0.892);
    top:1em;
    right: 1em;
    color:beige;
}